ALPACA_API_KEY=xxx
ALPACA_SECRET_KEY=xxx
ALPACA_PAPER_TRADE=xxx
ALPACA_ENDPOINT=xxx
ALPACA_DATA_ENDPOINT=xxx
ALPACA_FEED=xxx
ALPACA_BATCH_SIZE=xxx
ALPACA_HISTORY_DAYS=xxx
ALPACA_REQUEST_TIMEOUT_SECONDS=xxx
ALPACA_MAX_RETRIES=xxx
ALPACA_RETRY_BASE_SECONDS=xxx
ALPACA_DB_PATH=xxx
ALPACA_MANIFEST_PATH=xxx
MONEYHEAP_API_URL=xxx
MONEYHEAP_API_KEY=xxx
